.separator {
    width: 100%;
    height: var(--stitch-height, 48px);
    background-color: var(--stitch-color, #fff);
    -webkit-mask-image: var(--stitch-url);
    mask-image: var(--stitch-url);
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: auto 70%;
    mask-size: auto 70%;
}